<div class="row">
  <div class="page-header text-center">
    <h1>ABOUT</h1>
  </div>
  <div class="container">
    <div class="page-content">
      <div class="row">
        <div class="col-md-12 text-center">
 <h3>I’m a ______.<br> 
 I help ______ {make/build} ______.<br> 
 When I’m not ______, you can find me ______.<br> 
 Want to work together? I’d love to hear from you.</h3>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h4>Send me an <a a href="#/contact">email</a> if you’re interested in working together.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>